*{
	margin: 0px;
	padding: 0px;
}
body {
  background-color: #eee;
}

ul,li{
	 list-style-type: none;
}
strong{
	font-size: 24px;
}
.logout{
	float: right;
}
#divMap {
	position: relative;
	top: 0;
	display: block;
	height: 500px;
	z-index: 0;
	margin: 10px 0 ;
}
.container{
	background: #fff;
	padding: 0 30px;
}
.form-signin {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control, .panel-body {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}